JDBC_DRIVER = "org.h2.Driver";
DB_URL = "jdbc:h2:tcp://localhost/~/serverDB";
DB_USER = "sa";
DB_PASSWORD = "";
ENABLED_CIPHER_SUITES = {"TLS_AES_128_GCM_SHA256", "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384"};
PORT = 3343;



